In [24]:
import pandas as pd

In [25]:
users_df = pd.read_csv('csv/users.csv')
animal_df = pd.read_csv('csv/animals.csv')

In [26]:
display(users_df)

      name                     email             cpf address  passsword
0  Matheus  matheuscarv010@gmail.com  123.456.789-10   rua 1        123

In [27]:
display(animal_df)

       type           name    sex      race       birth  weight
0  cachorro  freio a disco  macho  pinscher  04/03/2020      12